## Normalization Attemp 2

In [1]:
import pandas as pd

In [2]:
loc=pd.read_csv("SilentSam UserLoc Spreadsheet.csv",encoding = "ISO-8859-1", index_col="Unnamed: 0")

In [3]:
nomloc=loc.iloc[:,0:1]

In [4]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [5]:
newkeys=[i[0]+"."+i[1] for i in list(states.keys())]
newkeys2=[i[0]+"."+i[1]+"." for i in list(states.keys())]
oldkeys=list(states.keys())

In [6]:
for newkey, oldkey, newkey2 in zip(newkeys,oldkeys,newkeys2):
    states[newkey] = states[oldkey]
    states[newkey2]= states[oldkey]

In [7]:
rules={"N.C.":"North Carolina,",
      "NC":"North Carolina",
      "Durham":"Durham, North Carolina",
      "Bull City":"Durham, North Carolina",
      "ATL":"Atlanta, Georgia",
      "atl":"Atlanta, Georgia",
      "Atl":"Atlanta, Georgia",
      "919":"Triangle, North Carolina",
      "United States":"USA",
      "United States of America":"USA",
      "US":"USA",
       "757":"Virginia",
       "985":"Louisiana",
       "504":"New Orlean Louisiana",
       "Vegas":"Las Vegas Nevada",
       "301":"Silver Spring",
       "America":"USA",
       "U.S.A.":"USA",
       "716":"Buffalo, New York",
       "910":"Fayetteville",
       "Flatbush":"Brooklyn, NY",
       "310":"Los Angeles, California",
       "214":"Dallas, Texas",
       "514":"Montreal, Canada",
       "Northern Virginia":"Virginia",
       "510":"Oakland, California",
       "336":"Piedmont Triad",
       "Eastern North Carolina":"North Carolina"      
       
      }

In [8]:
rules.update(states)

In [9]:
rulekyes=list(rules.keys())

In [10]:
for key in rulekyes:
    rules[key.lower()]=rules[key]

In [11]:
rules

{'N.C.': 'North Carolina',
 'NC': 'North Carolina',
 'Durham': 'Durham, North Carolina',
 'Bull City': 'Durham, North Carolina',
 'ATL': 'Atlanta, Georgia',
 'atl': 'Atlanta, Georgia',
 'Atl': 'Atlanta, Georgia',
 '919': 'Triangle, North Carolina',
 'United States': 'USA',
 'United States of America': 'USA',
 'US': 'USA',
 '757': 'Virginia',
 '985': 'Louisiana',
 '504': 'New Orlean Louisiana',
 'Vegas': 'Las Vegas Nevada',
 '301': 'Silver Spring',
 'America': 'USA',
 'U.S.A.': 'USA',
 '716': 'Buffalo, New York',
 '910': 'Fayetteville',
 'Flatbush': 'Brooklyn, NY',
 '310': 'Los Angeles, California',
 '214': 'Dallas, Texas',
 '514': 'Montreal, Canada',
 'Northern Virginia': 'Virginia',
 '510': 'Oakland, California',
 '336': 'Piedmont Triad',
 'Eastern North Carolina': 'North Carolina',
 'AK': 'Alaska',
 'AL': 'Alabama',
 'AR': 'Arkansas',
 'AS': 'American Samoa',
 'AZ': 'Arizona',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DC': 'District of Columbia',
 'DE': 'Delaware',
 'FL': 'Florida',
 'GA': 'Georgia',
 'GU': 'Guam',
 'HI': 'Hawaii',
 'IA': 'Iowa',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'MA': 'Massachusetts',
 'MD': 'Maryland',
 'ME': 'Maine',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MO': 'Missouri',
 'MP': 'Northern Mariana Islands',
 'MS': 'Mississippi',
 'MT': 'Montana',
 'NA': 'National',
 'ND': 'North Dakota',
 'NE': 'Nebraska',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NV': 'Nevada',
 'NY': 'New York',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'PR': 'Puerto Rico',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VA': 'Virginia',
 'VI': 'Virgin Islands',
 'VT': 'Vermont',
 'WA': 'Washington',
 'WI': 'Wisconsin',
 'WV': 'West Virginia',
 'WY': 'Wyoming',
 'A.K': 'Alaska',
 'A.K.': 'Alaska',
 'A.L': 'Alabama',
 'A.L.': 'Alabama',
 'A.R': 'Arkansas',
 'A.R.': 'Arkansas',
 'A.S': 'American Samoa',
 'A.S.': 'American Samoa',
 'A.Z': 'Arizona',
 'A.Z.': 'Arizona',
 'C.A': 'California',
 'C.A.': 'California',
 'C.O': 'Colorado',
 'C.O.': 'Colorado',
 'C.T': 'Connecticut',
 'C.T.': 'Connecticut',
 'D.C': 'District of Columbia',
 'D.C.': 'District of Columbia',
 'D.E': 'Delaware',
 'D.E.': 'Delaware',
 'F.L': 'Florida',
 'F.L.': 'Florida',
 'G.A': 'Georgia',
 'G.A.': 'Georgia',
 'G.U': 'Guam',
 'G.U.': 'Guam',
 'H.I': 'Hawaii',
 'H.I.': 'Hawaii',
 'I.A': 'Iowa',
 'I.A.': 'Iowa',
 'I.D': 'Idaho',
 'I.D.': 'Idaho',
 'I.L': 'Illinois',
 'I.L.': 'Illinois',
 'I.N': 'Indiana',
 'I.N.': 'Indiana',
 'K.S': 'Kansas',
 'K.S.': 'Kansas',
 'K.Y': 'Kentucky',
 'K.Y.': 'Kentucky',
 'L.A': 'Louisiana',
 'L.A.': 'Louisiana',
 'M.A': 'Massachusetts',
 'M.A.': 'Massachusetts',
 'M.D': 'Maryland',
 'M.D.': 'Maryland',
 'M.E': 'Maine',
 'M.E.': 'Maine',
 'M.I': 'Michigan',
 'M.I.': 'Michigan',
 'M.N': 'Minnesota',
 'M.N.': 'Minnesota',
 'M.O': 'Missouri',
 'M.O.': 'Missouri',
 'M.P': 'Northern Mariana Islands',
 'M.P.': 'Northern Mariana Islands',
 'M.S': 'Mississippi',
 'M.S.': 'Mississippi',
 'M.T': 'Montana',
 'M.T.': 'Montana',
 'N.A': 'National',
 'N.A.': 'National',
 'N.C': 'North Carolina',
 'N.D': 'North Dakota',
 'N.D.': 'North Dakota',
 'N.E': 'Nebraska',
 'N.E.': 'Nebraska',
 'N.H': 'New Hampshire',
 'N.H.': 'New Hampshire',
 'N.J': 'New Jersey',
 'N.J.': 'New Jersey',
 'N.M': 'New Mexico',
 'N.M.': 'New Mexico',
 'N.V': 'Nevada',
 'N.V.': 'Nevada',
 'N.Y': 'New York',
 'N.Y.': 'New York',
 'O.H': 'Ohio',
 'O.H.': 'Ohio',
 'O.K': 'Oklahoma',
 'O.K.': 'Oklahoma',
 'O.R': 'Oregon',
 'O.R.': 'Oregon',
 'P.A': 'Pennsylvania',
 'P.A.': 'Pennsylvania',
 'P.R': 'Puerto Rico',
 'P.R.': 'Puerto Rico',
 'R.I': 'Rhode Island',
 'R.I.': 'Rhode Island',
 'S.C': 'South Carolina',
 'S.C.': 'South Carolina',
 'S.D': 'South Dakota',
 'S.D.': 'South Dakota',
 'T.N': 'Tennessee',
 'T.N.': 'Tennessee',
 'T.X': 'Texas',
 'T.X.': 'Texas',
 'U.T': 'Utah',
 'U.T.': 'Utah',
 'V.A': 'Virginia',
 'V.A.': 'Virginia',
 'V.I': 'Virgin Islands',
 'V.I.': 'Virgin Islands',
 'V.T': 'Vermont',
 'V.T.': 'Vermont',
 'W.A': 'Washington',
 'W.A.': 'Washington',
 'W.I': 'Wisconsin',
 'W.I.': 'Wisconsin',
 'W.V': 'West Virginia',
 'W.V.': 'West Virginia',
 'W.Y': 'Wyoming',
 'W.Y.': 'Wyoming',
 'n.c.': 'North Carolina',
 'nc': 'North Carolina',
 'durham': 'Durham, North Carolina',
 'bull city': 'Durham, North Carolina',
 'united states': 'USA',
 'united states of america': 'USA',
 'us': 'USA',
 'vegas': 'Las Vegas Nevada',
 'america': 'USA',
 'u.s.a.': 'USA',
 'flatbush': 'Brooklyn, NY',
 'northern virginia': 'Virginia',
 'eastern north carolina': 'North Carolina',
 'ak': 'Alaska',
 'al': 'Alabama',
 'ar': 'Arkansas',
 'as': 'American Samoa',
 'az': 'Arizona',
 'ca': 'California',
 'co': 'Colorado',
 'ct': 'Connecticut',
 'dc': 'District of Columbia',
 'de': 'Delaware',
 'fl': 'Florida',
 'ga': 'Georgia',
 'gu': 'Guam',
 'hi': 'Hawaii',
 'ia': 'Iowa',
 'id': 'Idaho',
 'il': 'Illinois',
 'in': 'Indiana',
 'ks': 'Kansas',
 'ky': 'Kentucky',
 'la': 'Louisiana',
 'ma': 'Massachusetts',
 'md': 'Maryland',
 'me': 'Maine',
 'mi': 'Michigan',
 'mn': 'Minnesota',
 'mo': 'Missouri',
 'mp': 'Northern Mariana Islands',
 'ms': 'Mississippi',
 'mt': 'Montana',
 'na': 'National',
 'nd': 'North Dakota',
 'ne': 'Nebraska',
 'nh': 'New Hampshire',
 'nj': 'New Jersey',
 'nm': 'New Mexico',
 'nv': 'Nevada',
 'ny': 'New York',
 'oh': 'Ohio',
 'ok': 'Oklahoma',
 'or': 'Oregon',
 'pa': 'Pennsylvania',
 'pr': 'Puerto Rico',
 'ri': 'Rhode Island',
 'sc': 'South Carolina',
 'sd': 'South Dakota',
 'tn': 'Tennessee',
 'tx': 'Texas',
 'ut': 'Utah',
 'va': 'Virginia',
 'vi': 'Virgin Islands',
 'vt': 'Vermont',
 'wa': 'Washington',
 'wi': 'Wisconsin',
 'wv': 'West Virginia',
 'wy': 'Wyoming',
 'a.k': 'Alaska',
 'a.k.': 'Alaska',
 'a.l': 'Alabama',
 'a.l.': 'Alabama',
 'a.r': 'Arkansas',
 'a.r.': 'Arkansas',
 'a.s': 'American Samoa',
 'a.s.': 'American Samoa',
 'a.z': 'Arizona',
 'a.z.': 'Arizona',
 'c.a': 'California',
 'c.a.': 'California',
 'c.o': 'Colorado',
 'c.o.': 'Colorado',
 'c.t': 'Connecticut',
 'c.t.': 'Connecticut',
 'd.c': 'District of Columbia',
 'd.c.': 'District of Columbia',
 'd.e': 'Delaware',
 'd.e.': 'Delaware',
 'f.l': 'Florida',
 'f.l.': 'Florida',
 'g.a': 'Georgia',
 'g.a.': 'Georgia',
 'g.u': 'Guam',
 'g.u.': 'Guam',
 'h.i': 'Hawaii',
 'h.i.': 'Hawaii',
 'i.a': 'Iowa',
 'i.a.': 'Iowa',
 'i.d': 'Idaho',
 'i.d.': 'Idaho',
 'i.l': 'Illinois',
 'i.l.': 'Illinois',
 'i.n': 'Indiana',
 'i.n.': 'Indiana',
 'k.s': 'Kansas',
 'k.s.': 'Kansas',
 'k.y': 'Kentucky',
 'k.y.': 'Kentucky',
 'l.a': 'Louisiana',
 'l.a.': 'Louisiana',
 'm.a': 'Massachusetts',
 'm.a.': 'Massachusetts',
 'm.d': 'Maryland',
 'm.d.': 'Maryland',
 'm.e': 'Maine',
 'm.e.': 'Maine',
 'm.i': 'Michigan',
 'm.i.': 'Michigan',
 'm.n': 'Minnesota',
 'm.n.': 'Minnesota',
 'm.o': 'Missouri',
 'm.o.': 'Missouri',
 'm.p': 'Northern Mariana Islands',
 'm.p.': 'Northern Mariana Islands',
 'm.s': 'Mississippi',
 'm.s.': 'Mississippi',
 'm.t': 'Montana',
 'm.t.': 'Montana',
 'n.a': 'National',
 'n.a.': 'National',
 'n.c': 'North Carolina',
 'n.d': 'North Dakota',
 'n.d.': 'North Dakota',
 'n.e': 'Nebraska',
 'n.e.': 'Nebraska',
 'n.h': 'New Hampshire',
 'n.h.': 'New Hampshire',
 'n.j': 'New Jersey',
 'n.j.': 'New Jersey',
 'n.m': 'New Mexico',
 'n.m.': 'New Mexico',
 'n.v': 'Nevada',
 'n.v.': 'Nevada',
 'n.y': 'New York',
 'n.y.': 'New York',
 'o.h': 'Ohio',
 'o.h.': 'Ohio',
 'o.k': 'Oklahoma',
 'o.k.': 'Oklahoma',
 'o.r': 'Oregon',
 'o.r.': 'Oregon',
 'p.a': 'Pennsylvania',
 'p.a.': 'Pennsylvania',
 'p.r': 'Puerto Rico',
 'p.r.': 'Puerto Rico',
 'r.i': 'Rhode Island',
 'r.i.': 'Rhode Island',
 's.c': 'South Carolina',
 's.c.': 'South Carolina',
 's.d': 'South Dakota',
 's.d.': 'South Dakota',
 't.n': 'Tennessee',
 't.n.': 'Tennessee',
 't.x': 'Texas',
 't.x.': 'Texas',
 'u.t': 'Utah',
 'u.t.': 'Utah',
 'v.a': 'Virginia',
 'v.a.': 'Virginia',
 'v.i': 'Virgin Islands',
 'v.i.': 'Virgin Islands',
 'v.t': 'Vermont',
 'v.t.': 'Vermont',
 'w.a': 'Washington',
 'w.a.': 'Washington',
 'w.i': 'Wisconsin',
 'w.i.': 'Wisconsin',
 'w.v': 'West Virginia',
 'w.v.': 'West Virginia',
 'w.y': 'Wyoming',
 'w.y.': 'Wyoming'}

In [12]:
nomloc['no']=nomloc.user_location.map(rules)
nomloc['no']=nomloc.no.fillna(nomloc['user_location'])

In [13]:
nomloc

                         user_location                               no
0                       North Carolina                   North Carolina
1        Not "the Midwest", THE NORTH.    Not "the Midwest", THE NORTH.
5                             Cary, NC                         Cary, NC
6                      Valsetz, Oregon                  Valsetz, Oregon
9                           Tucson, AZ                       Tucson, AZ
10                      Nairobi, Kenya                   Nairobi, Kenya
12                     Chapel Hill, NC                  Chapel Hill, NC
13                     Chapel Hill, NC                  Chapel Hill, NC
14                          Durham, NC                       Durham, NC
15            Carrboro, North Carolina         Carrboro, North Carolina
16                    Philadelphia, PA                 Philadelphia, PA
17                            chicago                          chicago
18                  Raleigh, NC, Earth               Raleigh, NC, Earth
21                       Poop, yucatan                    Poop, yucatan
23                                 Off                              Off
25                 North Carolina, USA              North Carolina, USA
28                            WAKANDA!                         WAKANDA!
31            Chapel Hill-London-Tokyo         Chapel Hill-London-Tokyo
33                 Charlottesville, VA              Charlottesville, VA
35                          Durham, NC                       Durham, NC
36                     Santiago, Chile                  Santiago, Chile
38                      North Carolina                   North Carolina
41            Chapel Hill-London-Tokyo         Chapel Hill-London-Tokyo
42                           Ohio, USA                        Ohio, USA
44                   18 | they | white                18 | they | white
45                       E-Town PA USA                    E-Town PA USA
47                     Chapel Hill, NC                  Chapel Hill, NC
49       Portland, OR via Philadelphia    Portland, OR via Philadelphia
51            United States of America                              USA
52                    Antwerp, Belgium                 Antwerp, Belgium
...                                ...                              ...
59202                   Washington, DC                   Washington, DC
59203                Vancouver, Canada                Vancouver, Canada
59204               Raleigh-Durham, NC               Raleigh-Durham, NC
59206                      Madison, WI                      Madison, WI
59210                  Ottawa, Ontario                  Ottawa, Ontario
59212                  Chapel Hill, NC                  Chapel Hill, NC
59215                         VA Beach                         VA Beach
59216      Chapel Hill, North Carolina      Chapel Hill, North Carolina
59217                        In my bag                        In my bag
59219                       Durham, NC                       Durham, NC
59220                      Seattle, WA                      Seattle, WA
59221                       Austin, TX                       Austin, TX
59223                  Chapel Hill, NC                  Chapel Hill, NC
59224             Nashville, Tennessee             Nashville, Tennessee
59226                  UNC-Chapel Hill                  UNC-Chapel Hill
59227      Chapel Hill, North Carolina      Chapel Hill, North Carolina
59228                      Seymour, TN                      Seymour, TN
59231         Durham Region &  the GTA         Durham Region &  the GTA
59234         Calgary, Alberta, Canada         Calgary, Alberta, Canada
59235                       Durham, NC                       Durham, NC
59236                        Tennessee                        Tennessee
59237                  Ontario, Canada                  Ontario, Canada
59238  Mississauga Ontario Canada _???  Mississauga Ontario Canada _???
59239                  Chapel Hill, NC                  Chapel Hill, NC
59240                 Philadelphia, PA                 Philadelphia, PA
59241                newton wave pool                 newton wave pool
59244                  Chapel Hill, NC                  Chapel Hill, NC
59245                  Chapel Hill, NC                  Chapel Hill, NC
59250                         VA Beach                         VA Beach
59253         Carrboro, North Carolina         Carrboro, North Carolina

[38275 rows x 2 columns]

In [14]:
nomloc.columns=['pre', 'no']

In [15]:
nomloc.head()

                             pre                             no
0                 North Carolina                 North Carolina
1  Not "the Midwest", THE NORTH.  Not "the Midwest", THE NORTH.
5                       Cary, NC                       Cary, NC
6                Valsetz, Oregon                Valsetz, Oregon
9                     Tucson, AZ                     Tucson, AZ

In [16]:
len(loc)

38275

In [21]:
test=loc.drop_duplicates()

In [24]:
#address
add_dic=pd.Series(test.address.values,index=test.user_location).to_dict()

In [30]:
#lat
lat_dic=pd.Series(test.latitude.values,index=test.user_location).to_dict()
#long
long_dic=pd.Series(test.longitude.values,index=test.user_location).to_dict()
#point
point_dic=pd.Series(test.point.values,index=test.user_location).to_dict()

In [25]:
nomloc['addr']=nomloc.no.map(add_dic)

In [31]:

nomloc['lat']=nomloc.no.map(lat_dic)
nomloc['long']=nomloc.no.map(long_dic)
nomloc['point']=nomloc.no.map(point_dic)

In [35]:
nomloc=pd.merge(nomloc,loc,how='left',left_index=True,right_index=True)

In [46]:
nomlocf=nomloc[['pre', 'no', 'addr', 'lat', 'long', 'point_x', 'Accurarcy']]

In [48]:
nomlocf[nomlocf.pre=="CA"]

,pre,no,addr,lat,long,point_x,Accurarcy
637,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",False
782,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",False
14591,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
18918,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
18919,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
28623,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
30099,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
33297,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
42913,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
43675,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
43693,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
46199,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
47096,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN
56306,CA,California,"California, USA",36.701463,-118.755997,"36 42m 5.26716s N, 118 45m 21.5906s W",NaN

In [49]:
nomlocf.to_csv("Normalized Location Apr9.csv")

In [54]:
db3=pd.read_csv("db3.csv", index_col="Unnamed: 0")

In [58]:
db3=pd.merge(db3, nomlocf, left_index=True, right_index=True, how="left")

In [61]:
db3.loc[782]

id_str                                                     1093530028782936065
from_user                                                         Pissed_Woman
text                         RT @RaleighReporter: Probably isn't surprising...
time                                                       2019-02-07 15:20:50
geo_coordinates                                                            NaN
user_lang                                                                   en
in_reply_to_screen_name                                                    NaN
from_user_id_str                                            997090813728313344
in_reply_to_status_id_str                                                  NaN
source                       <a href="http://twitter.com/download/iphone" r...
user_followers_count                                                      8606
user_friends_count                                                        8617
user_location                                                               CA
entities_str                 {"hashtags":[{"text":"SilentSam","indices":[59...
place                                                                      NaN
retweet_count                                                             1608
favorite_count                                                             NaN
user_description             I’m a woman; what’s your superpower? #TheResis...
user_created_at                                 Thu May 17 12:25:49 +0000 2018
user_geo_enabled                                                           NaN
user_listed_count                                                          NaN
user_verified                                                            False
user_statuses_count                                                      91310
user_screen_name                                                  Pissed_Woman
user_favourites_count                                                   104263
possibly_sensitive                                                         NaN
lang_trans                                                             English
date                                                       2019-02-07 00:00:00
outlier_is                                                                   1
outlier_dbs                                                                 34
year                                                                      2019
yearmon                                                                2019-02
month                                                                        2
trans_sour                                                  Twitter for iPhone
pre                                                                         CA
no                                                                  California
addr                                                           California, USA
lat                                                                    36.7015
long                                                                  -118.756
point_x                                  36 42m 5.26716s N, 118 45m 21.5906s W
Accurarcy                                                                False
Name: 782, dtype: object

In [62]:
db3.to_csv("Static Tweets with Norm Loc.csv")

In [78]:
db4=pd.read_csv("db4.csv", index_col="Unnamed: 0")

In [81]:
db4.columns

Index(['user_screen_name', 'tweets_num', 'id_str', 'from_user', 'text', 'time',
       'geo_coordinates', 'user_lang', 'in_reply_to_screen_name',
       'from_user_id_str', 'in_reply_to_status_id_str', 'source',
       'user_followers_count', 'user_friends_count', 'user_location',
       'entities_str', 'place', 'retweet_count', 'favorite_count',
       'user_description', 'user_created_at', 'user_geo_enabled',
       'user_listed_count', 'user_verified', 'user_statuses_count',
       'user_favourites_count', 'possibly_sensitive', 'lang_trans', 'date',
       'outlier_is', 'outlier_dbs', 'isoutlier_if', 'created_days',
       'eng_or_not'],
      dtype='object')

In [84]:
db4=pd.merge(db4,db3, how="left", left_on="user_screen_name", right_on="user_screen_name").drop_duplicates(subset=["user_screen_name"])

In [85]:
db4.columns

Index(['user_screen_name', 'tweets_num', 'id_str_x', 'from_user_x', 'text_x',
       'time_x', 'geo_coordinates_x', 'user_lang_x',
       'in_reply_to_screen_name_x', 'from_user_id_str_x',
       'in_reply_to_status_id_str_x', 'source_x', 'user_followers_count_x',
       'user_friends_count_x', 'user_location_x', 'entities_str_x', 'place_x',
       'retweet_count_x', 'favorite_count_x', 'user_description_x',
       'user_created_at_x', 'user_geo_enabled_x', 'user_listed_count_x',
       'user_verified_x', 'user_statuses_count_x', 'user_favourites_count_x',
       'possibly_sensitive_x', 'lang_trans_x', 'date_x', 'outlier_is_x',
       'outlier_dbs_x', 'isoutlier_if', 'created_days', 'eng_or_not',
       'id_str_y', 'from_user_y', 'text_y', 'time_y', 'geo_coordinates_y',
       'user_lang_y', 'in_reply_to_screen_name_y', 'from_user_id_str_y',
       'in_reply_to_status_id_str_y', 'source_y', 'user_followers_count_y',
       'user_friends_count_y', 'user_location_y', 'entities_str_y', 'place_y',
       'retweet_count_y', 'favorite_count_y', 'user_description_y',
       'user_created_at_y', 'user_geo_enabled_y', 'user_listed_count_y',
       'user_verified_y', 'user_statuses_count_y', 'user_favourites_count_y',
       'possibly_sensitive_y', 'lang_trans_y', 'date_y', 'outlier_is_y',
       'outlier_dbs_y', 'year', 'yearmon', 'month', 'trans_sour', 'pre', 'no',
       'addr', 'lat', 'long', 'point_x', 'Accurarcy'],
      dtype='object')

In [89]:
db4_1=db4.reset_index().iloc[:,:35]

In [91]:
db4_2=db4.reset_index().iloc[:,-7:]

In [95]:
db4f=pd.concat([db4_1,db4_2], axis=1)

In [97]:
db4f.columns=['index','user_screen_name', 'tweets_num', 'id_str', 'from_user', 'text', 'time',
       'geo_coordinates', 'user_lang', 'in_reply_to_screen_name',
       'from_user_id_str', 'in_reply_to_status_id_str', 'source',
       'user_followers_count', 'user_friends_count', 'user_location',
       'entities_str', 'place', 'retweet_count', 'favorite_count',
       'user_description', 'user_created_at', 'user_geo_enabled',
       'user_listed_count', 'user_verified', 'user_statuses_count',
       'user_favourites_count', 'possibly_sensitive', 'lang_trans', 'date',
       'outlier_is', 'outlier_dbs', 'isoutlier_if', 'created_days',
       'eng_or_not','pre','no', 'addr', 'lat', 'long', 'point_x', 'Accurarcy']

In [100]:
db4f=db4f.drop(columns='index')

In [101]:
db4f.to_csv("Users with Nor Loc.csv")

In [132]:
nomloc[nomloc.user_location.isin(['Durham'])]

      user_location
315          Durham
2402         Durham
4015         Durham
11475        Durham
11837        Durham
21860        Durham
32946        Durham
45531        Durham
49007        Durham
53458        Durham
57722        Durham